In [29]:
import pandas as pd
import numpy as np

In [30]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [31]:
df = pd.read_csv('../../../CSV/covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [32]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

# Lendy way to transform

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'],test_size=0.2)

In [35]:
x_train

    age  gender  fever   cough       city
97   20  Female  101.0    Mild  Bangalore
79   48  Female  103.0    Mild    Kolkata
89   46    Male  103.0  Strong  Bangalore
81   65    Male   99.0    Mild      Delhi
39   50  Female  103.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
46   19  Female  101.0    Mild     Mumbai
14   51    Male  104.0    Mild  Bangalore
17   40  Female   98.0  Strong      Delhi
74   34  Female  104.0  Strong      Delhi
84   69  Female   98.0  Strong     Mumbai

[80 rows x 5 columns]

In [36]:
# adding simple imputer to fever col
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

# also the test data
x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [37]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

# also the test data
x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [38]:
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoding -> gender, city
ohe = OneHotEncoder(drop='first', sparse_output=False)

# Train data
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']])

# Test data
x_test_gender_city = ohe.transform(x_test[['gender','city']])

x_train_gender_city.shape

(80, 4)

In [39]:
# Extracting Age
x_train_age = x_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
x_test_age = x_test.drop(columns=['gender','fever','cough','city']).values

x_train_age

array([[20],
       [48],
       [46],
       [65],
       [50],
       [11],
       [73],
       [56],
       [14],
       [17],
       [60],
       [12],
       [12],
       [25],
       [71],
       [83],
       [68],
       [49],
       [55],
       [ 5],
       [23],
       [75],
       [10],
       [16],
       [14],
       [74],
       [82],
       [18],
       [27],
       [51],
       [70],
       [25],
       [65],
       [69],
       [80],
       [64],
       [64],
       [49],
       [65],
       [42],
       [75],
       [71],
       [13],
       [31],
       [10],
       [49],
       [19],
       [51],
       [73],
       [84],
       [34],
       [54],
       [34],
       [72],
       [38],
       [ 8],
       [38],
       [16],
       [69],
       [65],
       [60],
       [34],
       [27],
       [82],
       [15],
       [42],
       [81],
       [47],
       [ 6],
       [64],
       [47],
       [ 5],
       [44],
       [82],
       [42],
       [19],
       [51],
       [40],
       [34],
       [69]])

In [40]:
x_train_transformed = np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)
# also the test data
x_test_transformed = np.concatenate((x_test_age,x_test_fever,x_test_gender_city,x_test_cough),axis=1)

x_train_transformed.shape

(80, 7)

# Easy Way

In [41]:
from sklearn.compose import ColumnTransformer

In [42]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild','Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['gender','city'])
], remainder='passthrough')

In [44]:

transformer.fit_transform(x_train).shape

(80, 7)